/*  ###  FONTS  *###  */
@font-face {
  font-family: "PublicSans";
  src: url("/assets/css/fonts/PublicSans[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PublicSans";
  src: url("/assets/css/fonts/PublicSans-Italic[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("/assets/css/fonts/RobotoMono[wght].woff2") format("woff2");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("/assets/css/fonts/RobotoMono-Italic[wght].woff2") format("woff2");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}
