# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

* @gdbarron @brantpeery @Booyah!! @danguite-ven @wilddev65 @Saadi6
